<h1>Welcome to my first rails project!</h1>

<ul>
  <li><%= link_to 'See all the posts', controller: 'articles' %></li>
  <li><%= link_to 'Create something beautiful and meaningful!', new_article_path %></li>
</ul>